@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

.badan {
  background: radial-gradient(#fff, hsl(42, 18%, 89%));
}

.navbarrr {
  display: flex;
  padding: 0;
  box-sizing: border-box;
}

.navX {
  flex: 1;
  text-align: right;
}

.navX ul {
  display: inline-block;
  list-style-type: none;
}

.navX ul li {
  display: inline-block;
  margin-right: 20px;
}

.kontener {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.raw {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.coli-2 {
  flex-basis: 50px;
  min-width: 300px;
}

.coli-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.coli-2 h1 {
  font-size: 45px;
  line-height: 60px;
  margin: 25px 0;
  font-family: 'Silkscreen', cursive;
}

.btpn {
  display: inline-block;
  background-color: rgb(180, 146, 102);
  color: white;
  padding: 8px 30px;
  border-radius: 30px;
}

.kepala {
  background: radial-gradient(#fff, #e8e5de);
}

.footer88 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.footer88 p {
  color: rgb(104, 101, 101);
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.footer-brand {
  margin-top: -2%;
}
.footer-brand h5 {
  font-size: 2.5em;
  font-family: 'Silkscreen', cursive;
}

.footer88 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  bottom: 0;
}
.footer88 ul a {
  text-decoration: none;
  color: rgb(104, 101, 101);
}
.footer88 ul li {
  color: rgb(104, 101, 101);
  padding: 5px 0px;
  font-size: 14px;
}
.footer-sosmed .sosmed-icon {
  font-size: 24px;
  padding: 0 5px;
}

.container88 {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.row88 {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2.5rem;
}

.col1 {
  width: 5.3333333333%;
  margin: 1.5%;
}

.col2 {
  width: 13.6666666667%;
  margin: 1.5%;
}

.col3 {
  width: 22%;
  margin: 1.5%;
}

.col4 {
  width: 30.3333333333%;
  margin: 1.5%;
}

.col5 {
  width: 38.6666666667%;
  margin: 1.5%;
}

.col6 {
  width: 47%;
  margin: 1.5%;
}

.col7 {
  width: 55.3333333333%;
  margin: 1.5%;
}

.col8 {
  width: 63.6666666667%;
  margin: 1.5%;
}

.col9 {
  width: 72%;
  margin: 1.5%;
}

.col10 {
  width: 80.3333333333%;
  margin: 1.5%;
}

.col11 {
  width: 88.6666666667%;
  margin: 1.5%;
}

.col12 {
  width: 97%;
  margin: 1.5%;
}

.spacer10 {
  margin-top: 10px;
}

@media screen and (max-width: 487px) {
  .footer88 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .footer88 {
    display: none;
  }
}
